.initials {
  background: #ccc;
  color: #777;
  margin: 12px auto 4px;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 90px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Overwritting Bootstrap */
.card-subtitle {
  font-weight: lighter !important;
  margin-bottom: 10px !important;
}

.members-card {
  text-align: center;
}

.members-body {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: .5rem .25rem;
  max-height: 90px;
  overflow-y: scroll;
}

.members-desc {
  text-align: left;
  font-size: 12px !important;
  padding: 0 10px;
}

.members-link:hover {
  text-decoration-line: none !important;
}