.auth-tab, .auth-tab:hover, .auth-tab:visited {
  color: #666;
  font-size: 16px;
}

.auth-tab-active, .auth-tab-active:hover, .auth-tab-active:visited {
  color: #029f5b;
  font-size: 18px;
}

#auth-card {
  color: black;
  width: 50vw;
  margin: 0 auto;
  padding: 5px;
}

#forgot-pass {
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  font-family: Muli, Helvetica, Arial, sans-serif;
  cursor: pointer;
}